		@media only screen and (max-width: 1000px){
					.header_bottom {
			background-color: #ffffff;
			}
										}
		@media only screen and (min-width: 480px) and (max-width: 768px){

					section.parallax_section_holder{
			height: auto !important;
			min-height: 400px;
			}
						}
		@media only screen and (max-width: 768px){
		
					h2, h2 a {
			font-size: 20px; 			line-height: 25px; 						}
		
		
		
		
		
		
		
		
		
		
		
		
		}
		@media only screen and (max-width: 600px) {
		
		
		
		
		
		
		
		
		
		
				}
		@media only screen and (max-width: 480px){

					section.parallax_section_holder {
			height: auto !important;
			min-height: 400px;
			}
		
				
				}
		
		
	